@font-face {
	font-family: 'entypo';
	src:url('fonts/entypo.eot');
	src:url('fonts/entypo.eot?#iefix') format('embedded-opentype'),
		url('fonts/entypo.svg#entypo') format('svg'),
		url('fonts/entypo.woff') format('woff'),
		url('fonts/entypo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'entypo';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-mobile:before, .icon-pencil:before, .icon-paperclip:before, .icon-drawer:before, .icon-reply:before, .icon-forward:before, .icon-user:before, .icon-star:before, .icon-export:before, .icon-comment:before, .icon-printer:before, .icon-search:before, .icon-house:before, .icon-cog:before, .icon-tools:before, .icon-lifebuoy:before, .icon-eye:before, .icon-clock:before, .icon-calendar:before, .icon-earth:before, .icon-browser:before, .icon-code:before, .icon-screen:before, .icon-login:before, .icon-logout:before, .icon-minus:before, .icon-plus:before, .icon-cross:before, .icon-checkmark:before, .icon-cross-2:before, .icon-info:before, .icon-help:before, .icon-warning:before, .icon-retweet:before, .icon-folder:before, .icon-trash:before, .icon-install:before, .icon-upload:before, .icon-arrow-left:before, .icon-arrow-down:before, .icon-arrow-up:before, .icon-arrow-right:before, .icon-menu:before, .icon-resize-enlarge:before, .icon-resize-shrink:before, .icon-arrow-right-2:before, .icon-arrow-up--upload:before, .icon-arrow-left-2:before, .icon-arrow-down-2:before, .icon-github:before, .icon-twitter:before, .icon-facebook:before, .icon-googleplus:before, .icon-dribbble:before, .icon-pinterest:before, .icon-disk:before, .icon-layout:before, .icon-list:before, .icon-document:before, .icon-cart:before, .icon-gauge:before, .icon-tag:before, .icon-location:before, .icon-popup:before, .icon-blocked:before, .icon-bookmark:before, .icon-archive:before, .icon-paperplane:before, .icon-map:before, .icon-palette:before, .icon-camera:before, .icon-flag:before, .icon-star-2:before, .icon-network:before, .icon-brush:before, .icon-credit-card:before, .icon-box:before, .icon-tumblr:before, .icon-flickr:before, .icon-vimeo:before {
	font-family: 'entypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-mobile:before {
	content: "\2395";
}
.icon-pencil:before {
	content: "\270e";
}
.icon-paperclip:before {
	content: "\23cd";
}
.icon-drawer:before {
	content: "\2b13";
}
.icon-reply:before {
	content: "\21b6";
}
.icon-forward:before {
	content: "\21b7";
}
.icon-user:before {
	content: "\265f";
}
.icon-star:before {
	content: "\2605";
}
.icon-export:before {
	content: "\238b";
}
.icon-comment:before {
	content: "\275e";
}
.icon-printer:before {
	content: "\25a9";
}
.icon-search:before {
	content: "\26b2";
}
.icon-house:before {
	content: "\2617";
}
.icon-cog:before {
	content: "\2638";
}
.icon-tools:before {
	content: "\2692";
}
.icon-lifebuoy:before {
	content: "\25cc";
}
.icon-eye:before {
	content: "\233e";
}
.icon-clock:before {
	content: "\233d";
}
.icon-calendar:before {
	content: "\2b12";
}
.icon-earth:before {
	content: "\2689";
}
.icon-browser:before {
	content: "\25a2";
}
.icon-code:before {
	content: "\2390";
}
.icon-screen:before {
	content: "\25a6";
}
.icon-login:before {
	content: "\2348";
}
.icon-logout:before {
	content: "\2347";
}
.icon-minus:before {
	content: "\2d";
}
.icon-plus:before {
	content: "\2b";
}
.icon-cross:before {
	content: "\2613";
}
.icon-checkmark:before {
	content: "\2611";
}
.icon-cross-2:before {
	content: "\2612";
}
.icon-info:before {
	content: "\69";
}
.icon-help:before {
	content: "\3f";
}
.icon-warning:before {
	content: "\21";
}
.icon-retweet:before {
	content: "\21cc";
}
.icon-folder:before {
	content: "\25db";
}
.icon-trash:before {
	content: "\26b0";
}
.icon-install:before {
	content: "\27f1";
}
.icon-upload:before {
	content: "\27f0";
}
.icon-arrow-left:before {
	content: "\25c2";
}
.icon-arrow-down:before {
	content: "\25be";
}
.icon-arrow-up:before {
	content: "\25b4";
}
.icon-arrow-right:before {
	content: "\25b8";
}
.icon-menu:before {
	content: "\2666";
}
.icon-resize-enlarge:before {
	content: "\21f1";
}
.icon-resize-shrink:before {
	content: "\2327";
}
.icon-arrow-right-2:before {
	content: "\2192";
}
.icon-arrow-up--upload:before {
	content: "\2191";
}
.icon-arrow-left-2:before {
	content: "\2190";
}
.icon-arrow-down-2:before {
	content: "\2193";
}
.icon-github:before {
	content: "\25fe";
}
.icon-twitter:before {
	content: "\25fd";
}
.icon-facebook:before {
	content: "\26e4";
}
.icon-googleplus:before {
	content: "\26e3";
}
.icon-dribbble:before {
	content: "\26ea";
}
.icon-pinterest:before {
	content: "\26d1";
}
.icon-disk:before {
	content: "\73";
}
.icon-layout:before {
	content: "\2637";
}
.icon-list:before {
	content: "\2630";
}
.icon-document:before {
	content: "\25af";
}
.icon-cart:before {
	content: "\26d2";
}
.icon-gauge:before {
	content: "\2365";
}
.icon-tag:before {
	content: "\25b0";
}
.icon-location:before {
	content: "\25bc";
}
.icon-popup:before {
	content: "\274f";
}
.icon-blocked:before {
	content: "\2300";
}
.icon-bookmark:before {
	content: "\25ae";
}
.icon-archive:before {
	content: "\2339";
}
.icon-paperplane:before {
	content: "\25ee";
}
.icon-map:before {
	content: "\25eb";
}
.icon-palette:before {
	content: "\2762";
}
.icon-camera:before {
	content: "\25ce";
}
.icon-flag:before {
	content: "\2691";
}
.icon-star-2:before {
	content: "\2606";
}
.icon-network:before {
	content: "\273a";
}
.icon-brush:before {
	content: "\2712";
}
.icon-credit-card:before {
	content: "\e008";
}
.icon-box:before {
	content: "\e009";
}
.icon-tumblr:before {
	content: "\e00a";
}
.icon-flickr:before {
	content: "\e00b";
}
.icon-vimeo:before {
	content: "\e00c";
}
